#navbar{
 text-align: center;
 background-color: black ;
 position: fixed;
 top: 0px;
 left: 100px;
}
#navbar li {
    display: inline-block;
    border: 0px solid black;
    padding-top:100px ;
    padding-bottom: 100px;
    padding: 45px;
    background-color: black;
}
#navbar a {
    color: white
}
